body{
    display: flex;
    height: 100vh;
}

ul{
    list-style-type: none;
}
#sidebar{
flex-grow: 1;
border: 2px solid black;
}

#content{
flex-grow: 5;
border: 2px solid green;
}

#project-list > li {
    display: flex;
    justify-content: space-between;
}

#project-list > li>span{
    overflow: hidden;
}